@model Address
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="/Home/Index">Trang chủ</a>
                <a class="breadcrumb-item text-dark" href="/Address/Index/@Model.UserId">Sổ địa chỉ</a>                
                <span class="breadcrumb-item active">Chi tiết địa chỉ</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Content Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
        <span class="bg-secondary pr-3">Địa chỉ</span>
    </h2>
    <div class="row px-xl-5">
        <div class="col-12">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <b>Họ tên: </b>@Model.Recipient
                </li>
                <li class="list-group-item">
                    <b>Số điện thoại:</b> @Model.PhoneNumber
                </li>
                <li class="list-group-item">
                    <b>Phường/Xã, Quận/Huyện, Tỉnh/Thành phố: </b>@Model.ToString()
                </li>
                <li class="list-group-item">
                    <b>Địa chỉ cụ thể: </b>@Model.Details
                </li>
            </ul>

            <a class="btn btn-primary mt-2 mr-2" href="@Url.Action("Edit", new { id = Model.AddressId })">Sửa</a>
            <a class="btn btn-outline-danger mt-2 mr-2" href="@Url.Action("Delete", new { id = Model.AddressId })">Xóa</a>
        </div>        
    </div>
</div>
<!-- Content End -->
