@model IEnumerable<GearClub.Domain.Models.Order>

@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <h2 class="text-uppercase">
            <span class="pr-3">Đơn hàng</span>
        </h2>        
        <div class="bg-light rounded h-100 p-4">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            Ngày đặt
                        </th>
                        <th>
                            Tổng đơn
                        </th>
                        <th>
                            Người nhận
                        </th>
                        <th>
                            Trạng thái
                        </th>
                        <th>
                            Địa chỉ nhận hàng
                        </th>
                        <th>
                            Phương thức thanh toán
                        </th>                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        TimeZoneInfo localTimeZone = TimeZoneInfo.Local;
                        DateTime localTime = TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.OrderDate, localTimeZone);
                        <tr>
                            <td>
                                @localTime
                            </td>
                            <td>
                                @item.Total.ToString("###,###,###")₫
                            </td>
                            <td>
                                @item.Address.Recipient
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td>
                                @item.Address.ToString()
                            </td>
                            <td>
                                @item.Payment
                            </td>                            
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.OrderId">Sửa</a> |
                                <a asp-action="Detail" asp-route-id="@item.OrderId">Chi tiết</a>                                 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


